HOST=0.0.0.0
PORT=8787
ALLOWED_ORIGINS=https://isaacfirmino.github.io,http://127.0.0.1:4173,http://localhost:4173
MAX_SOURCE_BYTES=262144000
MAX_CONCURRENT_JOBS=1
DOWNLOAD_TIMEOUT_MS=120000
CONVERSION_TIMEOUT_MS=600000
JOB_TTL_MS=900000
YTDLP_PROXY_URL=
